@model ModelServicio

@{
    ViewData["Title"] = "IngresarServicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
  <h5 class="card-header">Ingresar Service:</h5>
  <div class="card-body">
     
   <form asp-action="IngresarServicio" asp-controller="CRUD" method="post"> 
      <div class="mb-3">
        <label class="form-label">Cliente: </label>
        <input asp-for="idCliente" type="text" class="form-control" >
        <span asp-validation-for="idCliente" class="text-danger"></span>
      </div>
      <div class="mb-3">
        <label class="form-label">Dispositivo: </label>
        <input asp-for="dispositivo" type="text" class="form-control" >
        <span asp-validation-for="dispositivo" class="text-danger"></span>
      </div>
      <div class="mb-3">
        <label class="form-label">Descripcion: </label>
        <input asp-for="descripcion" type="text" class="form-control" >
        <span asp-validation-for="descripcion" class="text-danger"></span>
      </div>
      <div class="mb-3">
        <label class="form-label">Estado: </label>
        <input asp-for="estado" type="text" class="form-control" >
        <span asp-validation-for="estado" class="text-danger"></span>
      </div>
      <div class="mb-3">
        <label class="form-label">Fecha de ingreso: </label>
        <input asp-for="fechaDeIngreso" type="datetime" class="form-control" >
        <span asp-validation-for="fechaDeIngreso" class="text-danger"></span>
      </div>
          
      <button id="boton" type="submit" class="btn btn-primary">Guardar</button>
      <a asp-action="Listar" asp-controller="CRUD" class="btn btn-warning" id="boton"> Volver al listado </a> 
  </form>

  </div>
</div>
